/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

rails_test/bundler_cache/
rails_test/rails-*/Gemfile
rails_test/rails-*/Gemfile.lock

