*.a
*.bundle
*.gem
*.gemfile.lock
*.iml
*.o
*.so
*.stTheme.cache
*.sublime-project
*.sublime-workspace
*.swp
*.tmPreferences.cache
*.tmlanguage.cache
*~
.DS_Store
.byebug_history
.idea/
.rspec_status
.ruby-gemset
.ruby-version
.tags
.tags1
.tool-versions
.vscode
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/javascript/compiled*
/node_modules
/pkg/
/spec/reports/
/tmp/
Gemfile.lock
bbin/
binstubs/*
bundler_stubs/*/.yardoc
mkmf.log
package-lock.json
spec/dummy
