<h1>Paper Trail Manager demo app</h1>

<ul>
  <li><%= link_to "Changes", changes_path %>: list and manage the changes made within this application, which is the point of Paper Trail Manager.</li>
  <li><%= link_to "Entities", entities_path %>: list of records you can manipulate to create changes.</li>
</ul>
